* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contain{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 60vw;
    max-width: 450px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-radius: 2%;
    box-shadow: 5px 5px 8px gray;
}

#cadastroForm{
    justify-items: center;
}

#cadastroForm button{
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
    width: 50%;
    height: 4vh;
    font-size: 90%;
    
}
